#menu_container.card.p-3.m-auto.mt-5{:style => "width: 450px;"}
  = nested_form_for @menu do |menu_form|
    .my-3
      %h2
        = menu_form.label :date
      %div
        = menu_form.date_select :date
    = menu_form.fields_for :dish_menus do |dish_menus_form|
      .d-flex.align-items-center.my-1.justify-content-between
        .d-flex
          %span.mx-1= dish_menus_form.check_box :included
        .mx-2
          - if action_name == "edit"
            = dish_menus_form.select :dish_id,
              options_for_select( @dishes.map{ |dish| [dish.name, dish.id,
                               :data => { price: last_dish_price(@dishes.find(dish.id)) }]},
                               :selected => dish_menus_form.object.dish_id)
          - if action_name == "new"
            = dish_menus_form.select :dish_id,
              options_for_select( @dishes.map{ |dish| [dish.name, dish.id,
                               :data => { price: last_dish_price(@dishes.find(dish.id)) }]},
                               :selected => @dishes[dish_menus_form.index.to_i].id)
        .justify-items-end
          - if action_name == "edit"
            = dish_menus_form.text_field :price,
              value:  dish_menus_form.object.price.nil? ? last_dish_price(@dishes[dish_menus_form.index.to_i]) : dish_menus_form.object.price,
              class: 'form-control py-0'
          - if action_name == "new"
            = dish_menus_form.text_field :price,
              value: last_dish_price(@dishes[dish_menus_form.index.to_i]),
              class: 'form-control py-0'
        .btn.btn-outline-secondary
          = dish_menus_form.link_to_remove "ðŸ—‘ï¸"
    %p
      = menu_form.link_to_add "+ðŸ²",                                 |
        :dish_menus,                                              |
        class: 'btn btn-outline-secondary mx-1', |
        id: 'add_btn'                                             |
    .my-3.text-center= menu_form.submit 'Save', class: 'btn btn-outline-secondary'
:javascript
  if (document.querySelector('#menu_container')) {
      const [form] = [...document.querySelector('#menu_container').children].filter(node => node.tagName === 'FORM')
      form.addEventListener('change', (e) => {
          if (e.target.nodeName === 'SELECT'){
              let price_input = document.getElementsByName(`${e.target.name.slice(0, -9)}[price]`)[0]
              price_input.value = e.target.options[e.target.selectedIndex].dataset['price'] // selected_dish_last_price
          }
      })
  }
