%body
  .row
    %header.mb-4
      %h1.text-center.mb-0
        = Date.today.strftime("%e %b %Y")
      - if current_user.admin?
        .text-center
          = link_to "👉 Create Today's Menu 👈", new_menu_path, class: 'text-decoration-none fw-bold text-secondary'
    .col-8
      .card
        .card-header.d-flex.justify-content-center
          %h2 Dishes
          - if current_user.admin?
            = link_to "+", new_dish_path, class: 'text-decoration-none fw-bold h5'
        .d-flex.gap-3.m-3.flex-wrap.justify-content-center
          = render 'dishes/dishes'
    .col-4
      .card
        .card-header.d-flex.justify-content-center
          %h2.text-decoration-none Categories
          - if current_user.admin?
            = link_to "+", new_category_path, class: 'text-decoration-none fw-bold h5'
        .d-flex.gap-3.m-3.flex-wrap
          = render 'categories/categories'
    .col.mt-3
      .card
        .card-header.d-flex.justify-content-center
          %h2.text-decoration-none Menus
          - if current_user.admin?
            = link_to "+", new_menu_path, class: 'text-decoration-none fw-bold h5'
        .card-body.mt-1.d-flex.flex-wrap.flex-row-reverse.justify-content-center
          = render 'menus/menu'