%h2.text-center.my-5
  = @dish.name.capitalize
  Details
.d-flex.justify-content-center
  .p-3.card.w-50.p-5
    %span
      %b Name:
      = @dish.name.capitalize
    %span
      %b Price:
      = @dish.price
    %span
      %b Category:
      = @category.name
    %span
      %b Measurement by:
      = @dish.price_type.measurement
    %span
      %b Portion [ kg / ml ]:
      = @dish.price_type.portion
    - if current_user.admin?
      %hr.mx-1/
      .mt-1.btn-group.d-flex.justify-content-center
        = button_to dish_path, method: :delete, class:"btn px-3" do
          %i.fa.fa-trash
        %div
          = link_to  edit_dish_path , class:"btn px-3" do
            %i.fa.fa-gear
